@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

body {
    max-width: 1440px;
}

/* Header section starts */

header {
    max-width: 100%;
    padding: 50px 135px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    display: flex;
    align-items: center;
    font-size: 2.25rem;
    gap: 10px;
    font-weight: 800;
}

.we {
    color: #131318;
}

.travel {
    color: #FF5400;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 44px;
    padding: 10px 0;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #424247;

}

.home {
    color: #FF5400;
}

.explore-section {
    max-width: 100%;
    min-height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    margin-top: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 24px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.explore-section h1 {
    font-size: 4rem;
    font-weight: 800;
}

.explore-section p {
    font-weight: 400;
}

.explore-dropdown-section {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.explore-dropdown-section div {
    background-color: white;
    max-width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    gap: 74px;
}

.explore-dropdown-section div input {
    border: none;
    outline: none;
}

.explore-dropdown-section div p,
.explore-dropdown-section div i {
    color: rgba(19, 19, 24, 0.50);
}

.explore-dropdown-section button {
    padding: 14px 35px;
    background-color: #FF5400;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.bars {
    color: #131318;
    display: none;
}

/* Header section ends */

/* Main section starts */
main {
    padding: 100px 135px;
}

.popular-tour-section {
    display: flex;
    align-items: center;
}

.popular-tour-description{
    padding-right: 20px;
    width: 100%;
}

.popular-tour-description h1{
    color: #131318;
    font-size: 2.5rem;
}

.popular-tour-description p, .popular-tour-description ul li{
    color: rgba(19, 19, 24, 0.70);
}

.popular-tour-image img{
    width: 100%;

}

.popular-tour-description button {
    padding: 14px 35px;
    background-color: #FF5400;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.why-choose-us-section{
    margin-top: 100px;
    text-align: center;
}

.why-choose-us-section h1{
    color: #131318;
    font-weight: 800;
    font-size: 2.5rem;
}

.why-choose-us-section p{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

.why-choose-us-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    gap: 24px;
    margin-top: 48px;
}

.why-choose-us-card1, .why-choose-us-card3{
    background: rgba(251, 181, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    border-radius: 16px;
    padding: 32px;
}

.why-choose-us-card2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    border-radius: 16px;
    padding: 32px;
}

.why-choose-us-card3{
    grid-column: span 2;
}

.deals-section{
    margin-top: 100px;
    text-align: center;
}

.deals-section > h1{
    color: #131318;
    font-weight: 800;
}

.deals-section > P{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-top: 24px;
}

.plans-section{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.plan1{
    background: url('../Images/Group\ 39.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 56px;
    border-radius: 16px;
    display: flex;
    justify-content: right;
}

.plan-child1{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 52px;
    border-radius: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.time-section{
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.time-section div{
    display: flex;
    gap: 12px;
}

.time-section div i{
    color: #FF5400;
}

.time-section div p{
    color: #424247;
}

.plan-child1 h3{
    color: #131318;
    font-size: 1.5rem;
}

.plan-child1 p{
    color: #424247;
    font-weight: 400;
}

.plan-child1 h4{
    font-size: 1.5rem;
    color: #FF5400;
}

.booking-button{
    font-size: 1.25rem;
    padding: 15px 25px;
    border-radius: 8px;
    width: 9.50rem;
    cursor: pointer;
    border: none;
    background-color: #FF5400;
    color: white;
}

.second{
    background: url('../Images/Group\ 40.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
}

.simple-section{
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.simple-description{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.simple-description h1{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.simple-description p{
    color: #424247;
}

.simple-image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 40089.png');
}

.newsletter-section{
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
}

.newsletter-form{
    padding: 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.newsletter-form h3{
    font-size: 1.25rem;
    font-weight: 800;
}

.newsletter-form p{
    color: #424247;
    font-weight: 400;
    margin-top: 16px;
}

.newsletter-form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px ;
}

.newsletter-form input, .newsletter-form button{
    width: 100%;
    padding: 16px;
    border: none;
    outline: none;
    background-color: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
}

.newsletter-form button{
    background-color: #FF5400;
    color: white;
    cursor: pointer;
}

.newsletter-save{
    width: 100%;
    background: url('../Images/Rectangle\ 8.png');
}


/* Main section ends  */

/* Footer starts  */

footer{
    max-width: 1440px;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h1{
    display: flex;
    align-items: center;
    gap: 10px;
}

footer p{
    color: #424247;
    font-weight: 400;
}

footer button{
    font-size: 20px;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}
/* Responsiveness starts */

/* For mobile devices */

@media screen and (max-width: 600px) {
    header {
        padding: 20px;
    }

    .nav-buttons {
        display: none;
    }

    .bars {
        display: block;
    }

    .explore-section {
        padding: 32px 40px;
    }


    .explore-dropdown-section {
        flex-direction: column;
    }

    main{
        padding: 20px;
    }

    .popular-tour-section{
        flex-direction: column;
        padding: 20px;
        text-align: left;
    }

    .popular-tour-description{
        padding: 20px;
    }

    
    .why-choose-us-cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .why-choose-us-card3{
        grid-column: span 1;
    }

    .plan1{
        padding: 200px 16px 16px 16px;
        display: flex;
        justify-content: center;
    }

    .plan-child1{
        padding: 16px;
        width: 100%;
    }

    .simple-section{
        flex-direction: column;
        gap: 24px;
    }

    .simple-description ul{
        padding: 20px;
    }

    .newsletter-section{
        flex-direction: column;
    }

    footer{
        padding: 40px 20px;
    }
}

/* For medium devices */

@media screen and (min-width: 600px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .explore-section {
        padding: 20px;
    }

    .explore-dropdown-section {
        text-align: center;
    }

    .simple-section{
        flex-direction: column;
        gap: 24px;
    }
}